@font-face {
  font-family: "Linux Libertine";
  src: url(.././fonts/linux-libertine.ttf);
}

$dark-gray: #333;
$med-gray: #404040;
$white: #fff;
$blue: #1ad1ff;

$wiki-font: "Linux Libertine", serif;

$desktop-view: 700px;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  body {
    background-color: $dark-gray;
    color: $white;
    letter-spacing: 1px;
    min-height: 100%;
    padding-bottom: 60px;
    position: relative;
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $blue;
    }
    header {
      margin-bottom: 10%;
      h1 {
        font-family: $wiki-font;
        font-size: 2rem;
        font-variant: small-caps;
        @media only screen and (min-width: $desktop-view) {
          font-size: 2.4rem;
        }
      }
    }
    form {
      max-width: 500px;
      padding: 10px;
      .fa-search {
        color: $dark-gray;
        left: 2px;
        top: 9px;
      }
      .search-input {
        border-radius: 30px;
        padding-left: 35px;
      }
    }
    .spinner {
      display: none;
      font-size: 4.5rem;
      margin: 3%;
    }
    .well {
      background-color: #404040;
      border: none;
      line-height: 22px;
      margin-top: 20px;
      max-width: 650px;
      padding: 20px;
      h2 {
        font-family: $wiki-font;
        font-size: 2.4rem;
        @media only screen and (min-width: $desktop-view) {
          font-size: 2.6rem;
        }
        letter-spacing: 3px;
        margin-top: 2px;
      }
    }
    .alert {
      display: none;
      margin: 8%;
    }
    footer {
      background-color: $med-gray;
      bottom: 0;
      font-size: 1.2rem;
      left: 0;
      letter-spacing: 2px;
      margin: 0;
      padding: 12px 0;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }
}
